body {
  margin: 0%;
  background-image: url("./Dark\ Dog\ Animated.gif");
  background-color: #042434;
  background-size: 1920px 960px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip:content-box;
  margin-left: 0px;
  margin-bottom: 0px;
}

nav {
  overflow: hidden;
  background-color: #042434;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: #8c9d8c;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover {
  color: #5d84cd;
}



footer {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ddd18a;
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  width: 100%;
  background:#042434;
  text-align: center;
}