* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url("./Dark\ Dog\ Animated.gif");
  background-color: #042434;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-clip:content-box;
  margin-left: 0px;
  margin-bottom: 0px;
}

nav {
  overflow: hidden;
  background-color: #042434;
  position: fixed;
  top: 0%;
  width: 100%;
}

nav a {
  float: left;
  display: block;
  color: #8c9d8c;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover {
  color: #5d84cd;
}

footer {
  overflow: hidden;
  background:#042434;
  position: fixed;
  bottom: 0%;
  width: 100%;
}

footer a {
  float: right;
  display: block;
  color: #8c9d8c;
  padding: 0px 25px;
  font-size: 18px;
  text-align: center;
}

footer a:hover {
  color: #5d84cd;
}